/* --- START Audio recording START --- */

#msg {
    visibility: hidden;
    color: #5AC8FA;
    font-weight: bold;
    font-size: 18px;
}

.button {
    padding: 5px 10px;
    font-size: 18px;
    color: #007AFF;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-controls button {
    margin: 0 5px;
}

canvas {
    margin-top: 10px;
    background-color: black;
}

select {
    padding: 10px;
    border: 0;
    border-radius: 32px;
}

a {
    margin-left: 20px;
}

.app {
    text-align: center;
    padding-top: 20px;
}

/* --- END Audio recording END --- */


/* --- START editable table START --- */

.button.button-small {
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
}

td input[type=text],
td select {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 2px 8px;
    border: 0;
    border-radius: 4px
}

td:last-child .button {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
}

td:last-child .button .fa {
    line-height: 30px;
    width: 30px;
}

/* --- END editable table END --- */

/* --- START Scrollable table START --- */

/* Style for the container div */
.table-container {
    display: flex;
}

/* Style for each table */
.table-container table {
    width: 50%; /* Adjust the width as needed */
    margin-right: 10px; /* Add some spacing between the tables */
}

table {
    text-align: center;
    border-collapse: collapse;
    border-style: hidden;
}

table th, table td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 5px;
}

/* Style for the scrollable divs */
.scrollable {
    max-height: 250px; /* Set a maximum height for scrollable area */
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
}

.scrollable a {
    margin: 0;
}

/* --- END Scrollable table END --- */

.highlight {
    color: red;
    background-color: blue;
}

b {
    color: blueviolet;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif
}

header h3 {
    font-weight: 600;
}

th {
    font-weight: 500;
}

hr {
    margin: auto;
    width: 300px;
    border-top: 1px solid #ccc;
}

textarea {
    padding: 15px;
    line-height: 1.75;
    max-height: 325px;
}

#nav-bar .w3-button {
    color: #ffffff;
    background-color: transparent;
}

#select-patient .w3-button {
    border-radius: 32px;
    border: 1px solid #007AFF;
    background-color: transparent;
    color: #007AFF;
}

#select-patient-dropdown .w3-button {
    border-radius: 32px;
    border: 0;
    background-color: #ffffff;
    color: #007AFF;
}

.w3-button {
    border-radius: 32px;
    border: 0;
    background-color: #ffffff;
    color: #007AFF;
}

.w3-row-padding img {
    margin-bottom: 12px
}

#loading-bar {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

#analysis-bar {
    height: 24px;
    width: 0;
    background: #5AC8FA;
}

.w3-modal {
    background: rgba(255, 255, 255, 0.7);
}


/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}