/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 2em;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 1em;
    text-decoration: none;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: grey;
    color: white;
}

.sidenav button {
    width: 100%;
    padding: 1em;
}

.disabled {
    color: #444 !important;
}

.disabled:hover {
    color: #444 !important;
}

.displaying {
    font-weight: bold;
    color: white !important;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.nav-icon {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}